langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-core
langchain-nvidia-ai-endpoints
python-dotenv
langgraph
langsmith
langgraph-cli[inmem]
aiohttp
Pygments
langgraph-prebuilt
langgraph-sdk
sentence-transformers
ipykernel
ipython